.navbar {
    height: 50px;
    background-color: #1d4ed8;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #1d4ed8;
    background-color: white;
    border-radius: 5px;
}